
/* Main title */
h1.title {
  font-weight: 700;
}


/* Several kinds of boxes */
.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background: #dfdfff 5px center/3em no-repeat;
}

.rmdcaution {
  background-image: url("caution.png");
}

.rmdimportant {
  background-image: url("important.png");
}

.rmdnote {
  background-image: url("note.png");
}

.rmdtip {
  background-image: url("tip.png");
}

.rmdwarning {
  background-image: url("warning.png");
}


/* Section headers */
.header-section-number {
  padding-right: .2em;
}

.level1 > h1 {
  font-weight: normal;
  border-bottom: 2px solid;
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 > .header-section-number {
  display: inline-block;
  border-bottom: 4px solid;
}

.level2 > h2 {
  font-weight: normal;
  border-bottom: 1px solid;
  margin-top: .8em;
  margin-bottom: .8em;
}

h2 > .header-section-number {
  display: inline-block;
  border-bottom: 2px solid;
}

.level3 > h3 {
  font-weight: 500;
  font-style: italic;
  border-bottom: 0;
}

h3 > .header-section-number {
  display: inline-block;
  font-style: italic;
  font-weight: 500;
  border-bottom: 0;
}

.level4 h4, .level5 h5, .level6 h6 {
  font-weight: normal;
  font-style: normal;
  border-bottom: 0;
}

.level4 .header-section-number{
  display: inline-block;
  font-style: normal;
  border-bottom: 0;
}


/* Misc */
p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

blockquote > p:last-child {
  text-align: right;
}

blockquote > p:first-child {
  text-align: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 600;
}

/* Utilities */
.flushright {
  text-align: right;
}

.smallcaps {
  font-variant: small-caps;
}

.half-width{
  width: 50%;
}

.one-third-width{
  width: 33%;
}

.two-thirds-width{
  width: 67%;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.center{
  margin: auto;
}

